USE [master]
GO
/****** Object:  Database [Upisi_Seminar]    Script Date: 3/24/2018 4:20:04 PM ******/
CREATE DATABASE [Upisi_Seminar]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Upisi_Seminar', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLINSTANCE\MSSQL\DATA\Upisi_Seminar.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Upisi_Seminar_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLINSTANCE\MSSQL\DATA\Upisi_Seminar_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Upisi_Seminar].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Upisi_Seminar]
GO
USE [Upisi_Seminar]
GO
/****** Object:  Table [dbo].[Seminari]    Script Date: 3/24/2018 4:20:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seminari](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NazivSeminara] [nvarchar](200) NOT NULL,
	[DatumPocetka] [datetime2](7) NOT NULL,
	[Opis] [nvarchar](350) NULL,
	[IsActive] [bit] NOT NULL,
	[Popunjen] [bit] NOT NULL,
 CONSTRAINT [PK_Seminari] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Predbiljezbe]    Script Date: 3/24/2018 4:20:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Predbiljezbe](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdSeminar] [int] NOT NULL,
	[DatumPredbiljezbe] [datetime2](7) NOT NULL,
	[Ime] [nvarchar](50) NOT NULL,
	[Prezime] [nvarchar](100) NOT NULL,
	[Adresa] [nvarchar](200) NOT NULL,
	[Mobitel] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[Prihvacen_Odbijen] [nchar](10) NULL,
 CONSTRAINT [PK_Predbiljezbe_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[SeminariPredbiljezbeCount]    Script Date: 3/24/2018 4:20:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  view [dbo].[SeminariPredbiljezbeCount]
AS
SELECT 
 IsNull(a.id, -1) as IdProba,
 a.NazivSeminara ,
  a.id, 
  a.DatumPocetka,
  a.IsActive,
  a.Opis,
  a.Popunjen,
 COUNT(b.id) AS count
FROM Seminari  a
LEFT OUTER JOIN Predbiljezbe b ON a.id = b.IdSeminar
and b.Prihvacen_Odbijen ='P'
GROUP BY IsNull(a.id, -1) ,
 a.NazivSeminara ,
  a.id, 
  a.DatumPocetka,
  a.IsActive,
  a.Opis,
  a.Popunjen
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 3/24/2018 4:20:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 3/24/2018 4:20:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 3/24/2018 4:20:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 3/24/2018 4:20:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 3/24/2018 4:20:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 3/24/2018 4:20:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'2', N'Guest')
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'1', N'User')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'75b74ee4-536a-4680-84a7-4b847231026a', N'1')
GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'75b74ee4-536a-4680-84a7-4b847231026a', N'dominik@polzer.hr', 0, N'AEHgv8OCaxBc7aN/31GKn7zkEykuEoKtjR5OhgcMuYJEDzQ8FZMdv24mK0ZO2b5SAA==', N'ee8e8282-be8b-4a71-aa4f-8f3e648345d0', NULL, 0, 0, NULL, 1, 0, N'dominik@polzer.hr')
GO
SET IDENTITY_INSERT [dbo].[Predbiljezbe] ON 
GO
INSERT [dbo].[Predbiljezbe] ([Id], [IdSeminar], [DatumPredbiljezbe], [Ime], [Prezime], [Adresa], [Mobitel], [Email], [Prihvacen_Odbijen]) VALUES (5, 1, CAST(N'2018-03-17T15:23:31.8868781' AS DateTime2), N'Ahmed', N'Askanani', N'Egipt 34', N'777/878-698', N'ahmed@ask.hr', NULL)
GO
INSERT [dbo].[Predbiljezbe] ([Id], [IdSeminar], [DatumPredbiljezbe], [Ime], [Prezime], [Adresa], [Mobitel], [Email], [Prihvacen_Odbijen]) VALUES (6, 5, CAST(N'2018-03-17T15:26:05.0000000' AS DateTime2), N'Ana', N'Slana', N'Ivankovec 45', N'788/458-587', N'ana@slana.hr', N'P         ')
GO
INSERT [dbo].[Predbiljezbe] ([Id], [IdSeminar], [DatumPredbiljezbe], [Ime], [Prezime], [Adresa], [Mobitel], [Email], [Prihvacen_Odbijen]) VALUES (8, 8, CAST(N'2018-03-17T15:37:35.0000000' AS DateTime2), N'Nino', N'Kikic', N'Harambasiceva 33', N'788/696-123', N'nino@hr.com', N'P         ')
GO
SET IDENTITY_INSERT [dbo].[Predbiljezbe] OFF
GO
SET IDENTITY_INSERT [dbo].[Seminari] ON 
GO
INSERT [dbo].[Seminari] ([Id], [NazivSeminara], [DatumPocetka], [Opis], [IsActive], [Popunjen]) VALUES (1, N'Napredni Excel(MS)', CAST(N'2018-03-20T00:00:00.0000000' AS DateTime2), N'Za nepredne u Excelu', 1, 0)
GO
INSERT [dbo].[Seminari] ([Id], [NazivSeminara], [DatumPocetka], [Opis], [IsActive], [Popunjen]) VALUES (2, N'C# Napredni', CAST(N'2018-04-05T00:00:00.0000000' AS DateTime2), N'Izrada console aplikacija', 1, 0)
GO
INSERT [dbo].[Seminari] ([Id], [NazivSeminara], [DatumPocetka], [Opis], [IsActive], [Popunjen]) VALUES (3, N'MVC razvoj Aplikacija', CAST(N'2018-06-01T00:00:00.0000000' AS DateTime2), N'MVC razvoj Aplikacija i spajanje na bazu', 1, 1)
GO
SET IDENTITY_INSERT [dbo].[Seminari] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 3/24/2018 4:20:06 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 3/24/2018 4:20:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 3/24/2018 4:20:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RoleId]    Script Date: 3/24/2018 4:20:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 3/24/2018 4:20:06 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 3/24/2018 4:20:06 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Predbiljezbe]  WITH CHECK ADD  CONSTRAINT [FK_Predbiljezbe_Seminari] FOREIGN KEY([IdSeminar])
REFERENCES [dbo].[Seminari] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Predbiljezbe] CHECK CONSTRAINT [FK_Predbiljezbe_Seminari]
GO
USE [master]
GO
